<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="loginNav" id="loginNav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid ms-5 me-5">
            <a class="navbar-brand" href="#">Board</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/list">글 목록</a>
                    </li>
                    <li class="nav-item" id="login-area">

                    </li>
                    <li>
                        <a class="nav-link" href="/">홈으로</a>
                    </li>
                    <li class="nav-item" th:if="${session.loginMember.memberEmail== 'admin'}">
                        <a class="nav-link" href="/member/list">회원목록</a>
                    </li>
                </ul>
                <form action="/board" method="get" class="d-flex" role="search">
                    <select name="type" class="form-select me-2 w-50">
                        <option value="boardWriter">작성자</option>
                        <option value="boardTitle">제목</option>
                    </select>
                    <input class="form-control me-2 w-auto" type="search" name="q" placeholder="검색어를 입력하세요"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <script th:inline="javascript">
                const loginArea = document.getElementById("login-area");
                const loginName = [[${session.loginMember.memberName}]];

                loginArea.innerHTML = "<a class='nav-link' onclick='detail_fn()'>" + loginName + "님</a>"

                const detail_fn = () => {
                    let id = [[${session.loginMember.id}]];
                    location.href="/member/mypage?id=" + id;
                }
            </script>
        </div>
    </nav>
</div>
</body>
<script th:inline="javascript">

</script>
</html>